<%- include('../partials/header') %>

<h2>Explorer List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>

    <% explorers.forEach((m)=>{ %>

  
      <tr>
        <td><%= m.name %></td>
        <td><%= m.age %></td>
  
                  
        <td> <a href="/planets/<%= m._id %>">Details</a></td>
      </tr>
      
      <% })%>
  </tbody>
</table>

<%- include('../partials/footer') %>