<%- include('../partials/header') %>
<h2>Planets</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>climate</th>
      <th>Population</th>

    </tr>
  </thead>
  <tbody>
    <% planets.forEach((p) =>{ %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.climate %></td>
        <td><%= p.population %></td>
        <td><a href="/planets/<%= p._id %>">planet detail</a></td>
        
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>