<%- include('../partials/header') %>
  <h1>Planets Discovered</h1>
  <hr>
  <% planets.forEach(element=> { %>
    <h3>Name:
      <%= element.name %>
    </h3>
    <h3>Climate:
      <%= element.climate %>
    </h3>
    <h3>Population:
      <%= element.population %>
    </h3>
    <hr>
    <% }); %>
      <%- include('../partials/footer') %>