<%- include('../partials/header.ejs') %>

<h2>Planet System</h2>
<table class="display">
  <thead>
    <tr>
      <th>Planet Name</th>
      <th>Planet Radius</th>
      <th>Civilization</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% planets.forEach(m=>{ %>

    <tr>
      <td><%= m.planetName %></td>
      <td><%= m.planetRadius %></td>
      <td><%= m.civilization %></td>
      <td><a href="/planets/<%= m._id %>">DETAILS</a></td>
      <%})%>
      <!-- Close the forEach using EJS here -->
    </tr>
  </tbody>
</table>

<%- include('../partials/footer.ejs') %>
