
<%- include('../partials/header') %>

<h2>Planet List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>climate</th>
      <th>population</th>
      <th>has water</th>
    </tr>
  </thead>
  <tbody>
    <% planets.forEach(planet => {%>
      <tr>
        <td><%= planet.name %></td>
        <td><%= planet.climate %></td>
        <td><%= planet.population %></td>
        <td><%= planet.hasWater? 'Yes': 'No' %></td>
    <%});%> 
  </tbody>
</table>

<%- include('../partials/footer') %>