<%-include("../partials/header") %>
  <h1><%= title %></h1>
  <ul>
    <% planets.forEach(planet => { %>
      <li><a href="/planets/<%=planet._id%>">Name: <%= planet.name %></a></li>
    <% }); %>
  </ul>
  <%-include("../partials/footer") %>

