<%- include('../partials/header') %>
<h2>PLANETS IN THE MILKY WAY</h2>
<table>
  <thead>
    <tr>
      <th>NAME</th>
      <th>CLIMATE</th>
      <th>POPULATION</th>
    </tr>
  </thead>
  <tbody>
    <% planets.forEach((p) =>{ %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.climate %></td>
        <td><%= p.population %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>