<%- include('../partials/header') %>



<br><br><br>
<section id="show-page">

  <div class="container">

  <div class="card">
    <p class="heading">
      <%= planet.name %> 
    </p>
    <p>
      Climate : <%= planet.climate %> <br>
      Population  :<%= planet.population %>
    </p>
   </div>
</div>


  
</section>
</section>

<%- include('../partials/footer') %>
