<%- include('../partials/header') %>
<div class="planetDiv">
  <p.planetP><span class="planetSpan"><%=p.name%></span></p>
    <p.planetP><span class="planetSpan"><%=p.climate%></span></p>
      <p.planetP><span class="planetSpan"><%=p.population%></span></p>
</div>
<%- include('../partials/footer') %>

