
<%- include('../partials/header') %>

<h2>Planet List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>climate</th>
      <th>population</th>
      <th>has water</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= planet.name %></td>
        <td><%= planet.climate %></td>
        <td><%= planet.population %></td>
        <td><%= planet.hasWater? 'Yes': 'No' %></td>
  </tbody>
</table>

<br><br><h2>add a plant</h2>
<form id="add-review-form" method="POST"
  action="/planets/<%= planet._id %>/plants">
  <label>Name:
    <input type="text" name="name">
  </label><br>
  <label>Color:
    <input type="text" name="color">
  </label><br>
  <label>Poisonous:
    <input type="checkbox" name="poisonous">
  </label><br>
  <input type="submit" value="Add plant">
</form>
<h2>List Of Plants</h2>

<% if (planet.plants.length) { %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Poisonous</th>
      </tr>
    </thead>
    <tbody>
      <% planet.plants.forEach(function(plant) { %>
        <tr>
          <td><%= plant.name %></td>
          <td><%= plant.color %></td>
          <td><%= plant.poisonous %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No plants Yet</h5>
<% } %>


<h2>Enter a New Explorer</h2>
<form action="/planets/<%= planet._id %>/explorers" method="POST">
  <label>Name:
    <select name="id">
      <% explorers.forEach((explorer) => { %>
        <option value="<%= explorer._id %>"><%= explorer.name %></option> 
      <% }); %>
    </select>
  </label><br>
  <button type="submit">Add Explorer</button>
</form>


<% if (planet.explorers.length) { %>
<h2>Explorers List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <% planetExplorers.forEach(explorer => {%>
      <tr>
        <td><%= explorer.name %></a></td>
        <td><%= explorer.age %></a></td>
    <%});%> 
  </tbody>
</table>
<% } else { %>
  <h5>No Explorers Yet</h5>
<% } %>


<%- include('../partials/footer') %>