<%- include('../partials/header') %>

<section id="show-page">
  <div>Planet: </div>
  <div><%= planet.planet %></div>
  <div>climate : </div>
  <div><%= planet.climate %></div>
  <div>population: </div>
  <div><%= planet.population %></div>
  
</section>
</section>

<%- include('../partials/footer') %>
