<%- include('../partials/header')%>

<section id="show-page">
  <div>Planet Name: <%= planet.planetName %></div>
  <div>Planet's Civilization: <%= planet.civilization %></div>
  <div>Planet Radius: <%= planet.planetRadius %></div>
</section>

<br /><br />
<h2>Planet Enviroment</h2>
<form method="POST" action="/planets/<%= planet._id %>/enviroments">
  <label>Enviroment Type:</label>
  <select name="enviromentType">
    <option value="Arctic">Arctic</option>
    <option value="Dessert">Dessert</option>
    <option value="Tropical">Tropical</option>
    <option value="Aquatic">Aquatic</option>
    <option value="Empyrean">Empyrean</option>
    <option value="Forest" selected>Forest</option>
  </select>
  <label>Weather:</label>
  <textarea name="weather"></textarea>

  <label>Vegetation</label>
  <select name="vegetation">
    <option value="true">True</option>
    <option value="false">False</option>
  </select>
  <br />
  <label>Wild Life (5 - 10000)</label>
  <input type="text" name="wildlife" />
  <input type="submit" value="Add Enviroment" />
</form>

<% if (planet.enviroment.length) { %>
<table>
  <thead>
    <tr class="enviroment">
      <th>Enviroment Type</th>
      <th>Weather</th>
      <th>Vegetation</th>
      <th>Wild Life</th>
    </tr>
  </thead>
  <tbody>
    <% planet.enviroment.forEach((r) => { %>
    <tr>
      <td><%= r.enviromentType %></td>
      <td><%= r.weather %></td>
      <td><%= r.vegetation %></td>
      <td><%= r.wildlife %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>No Enviroment Yet</h5>

<% } %>
<br /><br />
<h2>Add a Explorer</h2>
<form
  id="add-review-form"
  method="POST"
  action="/planets/<%= planet._id %>/explorers"
>
  <select name="explorerId">
    <% availableExplorers.forEach((explorer) => { %>
    <option value="<%= explorer._id %>"><%= explorer.name %></option>
    <% }); %>
  </select>
  <input type="submit" value="Add Explorer" />
</form>

<!-- Display the cast -->
<% if (planet.explorers.length) { %>
<h3>Explorer</h3>
<ul>
  <% planet.explorers.forEach((explorer) => { %>
  <li><%= explorer.name %></li>
  <% }); %>
</ul>
<% } else { %>
<h5>No Performers Yet</h5>
<% } %> <%- include('../partials/footer')%>
