<%- include('../partials/header') %>




<div class="cardInTheMiddle">
<div class="myCard">
  <div class="innerCard">
      <div class="frontSide">
          <p class="title">

           Name : <%= planet.name %>  <br>
            Climate:<%= planet.climate %>  <br>
            Population  :<%= planet.population %>


          </p>
      </div>
      <div class="backSide">
        <% if (planet.plants.length) { %>
          <% planet.plants.forEach(function(r) { %>

          <p class="title">
           Name :<%= r.name %><br>
          Color : <%= r.color %><br>
          poisonous: <%= r.poisonous %>

          </p>
          <% }); %>

          <% } else { %>
            <h5>No plants Yet</h5>
          <% } %>


      </div>
  </div>
</div>
<br>
</div>






<br><br><h2>Plants</h2>
<form id="add-plants-form" method="POST"
  action="/planets/<%= planet._id %>/plants">
  <input name="name" type="text" class="input" placeholder="Plant Name"></input>
  <br><br>
  <input name="color" type="text" class="input" placeholder="Plant Color"></input>
  <br><br>

  <h2>poisonous</h2>

  <select name="poisonous">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
  <br><br>
  <button class="buttonAddPlant" type="submit" value="Add Plant">Add Plant</button>

</form>




<br><br><h2>Add a Explorer</h2>
<form id="add-explorer-form" method="POST"
  action="/planets/<%= planet._id %>/explorers">
  <select name="explorerId">
    <% availableExplorers.forEach((explorer) => { %>
      <option value="<%= explorer._id %>"><%= explorer.name %></option> 
    <% }); %>
  </select>
  <button class="buttonAddPlant" type="submit" value="Add Explorer">Add Explorer</button>

</form>

<br><br><br><br>



<div id="centerExplorersDiv">
<div class="unique-card">
  <div class="background-overlay"></div>
  <div class="card-content">
    <% if (planet.explorer.length) { %>
      <% planet.explorer.forEach((expl) => { %>
    <div class="card-title"><%= expl.name %></div>
    <div class="card-description"><%= expl.age %></div>
    <% }); %>
    <% } else { %>
      <div class="card-title">No Explorers Yet</div>

      <% } %>

  </div>
</div>
</div>




















  
</section>
</section>

<%- include('../partials/footer') %>
