<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <nav>
      <a href="/explorers/new"	<%- title === 'Add Explorer' ? 'class="active"' : '' %>>Add Explorer</a>
      <a href="/planets/new" <%- title === 'Add Movie' ? 'class="active"' : '' %>>Add a new Planet</a>
      <a href="/planets" <%- title === 'All Movies' ? 'class="active"' : '' %>>See all Planets</a>
    </nav>
    <main>
      <h1><%= title %></h1>
